mnist_challenge/models/*
mnist_challenge/attack.npy
experiments/fashion-mnist/logs/*
*.pyc
*.pyo
experiments/fashion-mnist/bayeswrm_*.model
experiments/trafficsign/train_balanced_preprocessed.p
experiments/trafficsign/train.p
experiments/trafficsign/results/*
experiments/trafficsign/BayesWRM_*.model
experiments/fashion-mnist/results
experiments/fashion-mnist-simplenet/logs/*
experiments/fashion-mnist-simplenet/results/*
experiments/fashion-mnist-simplenet/bayeswrm_*.model
experiments/trafficsign/blackboxresults/*
experiments/fashion-mnist-simplenet/blackboxresults/*
experiments/fashion-mnist-simplenet-runblackboxtemp/*
experiments/trafficsign_blackboxtemp/*
experiments/trafficsign/blackboxresults_bak/*
experiments/trafficsign/results_bak/results/*
experiments/trafficsign/run_advtrain_blackbox.py
experiments/trafficsign/traffic_sign_advtrain_blackbox.py
experiments/trafficsign/blackboxresults_bak201805131139/*
experiments/fashion-mnist-simplenet/tune_bayeswrm.py
experiments/fashion-mnist-simplenet/advtrain_sample/*
experiments/fashion-mnist-simplenet/advtrain_sample/*
experiments/trafficsign/ERMblackbox.modelbak
experiments/trafficsign/advtrain_sample/*
experiments/trafficsign/advtrained_models/*
experiments/trafficsign/trafficsignblackbox/*
experiments/trafficsign/trafficsignwhitebox/*
experiments/trafficsign/trafficsignblackboxresult.pdf
experiments/trafficsign/trafficsignwhiteboxresult.pdf
experiments/fashion-mnist-simplenet/advtrain_sample/*
experiments/fashion-mnist-simplenet/advtrained_models_bak20180517/*
experiments/mnist-simplenet-samplesizetest/logs/*
experiments/fashion-mnist-simplenet-reimplement/*


